body{
    margin: 0px;
    background-color: aliceblue;
}

#board #container{
    background-color: aqua;
}

#board #container button{
    float: right;
}



.navigation .logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
}

